@import "tailwindcss";

:root {
  --background: #a1ddf7;
  --foreground: #333333;
  --primary: #a3dcf7;
  --secondary: #f6f7ef;
  --accent: #ffc802;
  --button: #0056b3;
  --burgundy: #7a2434;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
